# Environment variables to add for ABRomics KG

# 1. Copy this file and call it .env
# 2. Indicate the environment variables for your specific needs
# 3. ALWAYS indicate your private env variables in your .env file not in .env-example file

# This way when pushing via git you won't publish your private configurations



