archive

__pycache__
*/.virtual_ducuments
*/.ipynb_checkpoints
cache
*reports*
out

.venv
node_modules/
.nuxt/
package-lock.json

src/graph/graph-data/*.owl
src/graph/graph-data/*.obo

src/docs/src/*
src/docs/md/*

*/.env
tmp
