@prefix sosa: <http://www.w3.org/ns/sosa/> .
@prefix schema: <https://schema.org/> .
@prefix abromics: <https://abromics.fr/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix obo: <http://purl.obolibrary.org/obo/> .
@prefix aro: <http://purl.obolibrary.org/obo/aro.owl#> .
@prefix go: <http://purl.org/obo/owl/GO#> .
@prefix uniprot: <http://purl.uniprot.org/uniprot/> .
@prefix geo: <http://www.w3.org/2003/01/geo/wgs84_pos#> .
@prefix sio: <http://semanticscience.org/resource/> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix prov: <http://www.w3.org/ns/prov#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .


################################### Agents #############################################

# Agents can be the persons that submitted some samples or an organization or even a 
# software agent such as a program that acts on behalf an organization. In the ABRomics
# graph this is more used to track the contributions of different persons

{% for username in usernames %}
    <user_{{ loop.index0 }}> rdf:type prov:Person, prov:Agent ;
            foaf:givenName "{{ username }}"^^xsd:string ;        
            foaf:mbox <pglaser@pasteur.fr> ;
            prov:actedOnBehalfOf <organization_1> .
{% endfor %}

<organization_1> rdf:type prov:Organization, prov:Agent ;
       foaf:name "Institut Pasteur" ;
       prov:atLocation [
            rdf:type prov:Location ;
            geo:asWKT "POLYGON((2.3098654209775793 48.840952215649864,2.310519879977213 48.840549725656956,2.310949033419596 48.840676828109416,2.3112279831571447 48.840959276848935,2.310573524157511 48.84136882469206,2.3098654209775793 48.840952215649864))"^^geo:wktLiteral ;
       ] .




################################### Samples #############################################

{% for sample in samples %}
<sample_{{ loop.index0 }}> rdf:type sosa:FeatureOfInterest, prov:Entity ;
    rdf:type sio:001050 ; ## annotation that indicates that this is a SAMPLE
    schema:identifier "000{{ loop.index0 }}" ;
    geo:asWKT "POINT(-77.03524 38.889468)"^^geo:wktLiteral ;
    abromics:original_sample_id "{{ sample[0]["values"][0] }}" ; 
    abromics:microorganism_scientific_name "{{ sample[0]["values"][2] }}" ; ## ! replace with taxonomy of the specie directly here
    {% if sample[0]["values"][3]|isDatetime %}
        prov:generatedAtTime "{{ sample[0]["values"][3] }}T00:00:00Z"^^xsd:dateTime ;
    {% endif %}
    abromics:sample_type "{{ sample[0]["values"][4] }}" ;    # should be the type of host (animal, environmental, human)
    abromics:sample_source "{{ sample[0]["values"][5] }}" ;  # should be the part of the host concerned (like some sort of organ)
    abromics:host "{{ sample[0]["values"][6] }}" ; ## Link to an animal ontology
    abromics:country "{{ sample[0]["values"][7] }}" ;
    abromics:sequencing_technology "{{ sample[0]["values"][8] }}" ; 
    {% if sample[0]["values"][9] != "" %}
        abromics:sequencing_partner "{{ sample[0]["values"][5] }}" ;
    {% endif %}
    prov:wasAttributedTo <user_1> . ## not in scope ? ## transform the username to the userid
{% endfor %}


############################### Sensors (workflows) #######################################

abromics:WF1_impl rdf:type sosa:Sensor ; 
        sosa:implements abromics:WF1_spec ;
        sosa:isHostedBy abromics:NNCR .


############################## Plateform (place) #########################################

abromics:NNCR rdf:type sosa:Platform .


################################# Procedures  #############################################

abromics:WF1_spec rdf:type sosa:Procedure ;
        sosa:isImplementedBy abromics:WF1_impl .


########################## Strain Feature of Interest ####################################

{% for sample in samples %}
    <strain_{{ loop.index0 }}> rdf:type sosa:FeatureOfInterest, aro:Strain ;
        abromics:has_st "{{ analysisSummary[loop.index0][0]["values"][1] }}" ;
        {% if species[loop.index0] == "Escherichia coli" %} obo:RO_0002162 <http://purl.uniprot.org/taxonomy/562> . #in_taxon E. coli {% endif %}
        {% if species[loop.index0] == "Enterococcus faecalis" %} obo:RO_0002162 <http://purl.uniprot.org/taxonomy/1157389> . #in_taxon E. faecalis {% endif %}
        {% if species[loop.index0] == "Enterococcus faecium" %} obo:RO_0002162 <http://purl.uniprot.org/taxonomy/1155766> . #in_taxon E. faecium {% endif %}
{% endfor %}

########################### Location Feature of Interest ################################

{% for sample in samples %}
    <S{{ loop.index0 }}#location> rdf:type sosa:FeatureOfInterest ;
        rdfs:label "location of S{{ loop.index0 }}"@en ;
        geo:lat "35.8648067"^^xsd:decimal ;
        geo:long "-120.6195831"^^xsd:decimal ;
        geo:alt "12.75"^^xsd:decimal .
{% endfor %}

########################### Genes Feature of Interest ###################################

{% for geneName in allGenes %} 
<gene_{{ loop.index0 }}> rdf:type sosa:FeatureOfInterest  ; 
        rdf:type go:Gene ;
        ## schema:identifier uniprot:{{ geneName }} ; ## should check if the gene name has a specific uniprot identifier 
        rdfs:label "{{ geneName }}" .
{% endfor %}

############################# Observable properties ########################################

{% for observableProperty in resistanceHeader %}
    <{{ observableProperty|convertToFriendlyNodeName }}> rdf:type sosa:ObservableProperty ;
        rdfs:label "{{ observableProperty }}"^^xsd:string .
{% endfor %}


################################  Observations #########################################

{% set ns = namespace(globalObservationCounter=0) %}
{% for sample in resistances %}
    {% set sampleId = loop.index0 %}
    {% for observationSet in sample %}
        {% set observationSetId = loop.index0 %}
        {% for observation in observationSet %}
            <obs_s{{ sampleId }}_{{ns.globalObservationCounter}}> rdf:type sosa:Observation ; 
                sosa:hasFeatureOfInterest <strain_{{ sampleId }}> ; 
                sosa:hasFeatureOfInterest <sample_{{ sampleId }}> ; 
                sosa:hasFeatureOfInterest <gene_{{ resistances[sampleId][0][loop.index0]|getKeyFromValue(allGenes) }}> ; ## no 2 parameters function works in the template :/
                sosa:hasFeatureOfInterest <S{{ sampleId }}#location> ;
                sosa:hasObservableProperty <{{ resistanceHeader[observationSetId]|convertToFriendlyNodeName }}> ;
                sosa:madeBySensor abromics:WF1_impl ;
                sosa:usedProcedure abromics:WF1_spec ;
                sosa:hasResult <r{{ ns.globalObservationCounter }}> .
            {% set ns.globalObservationCounter = ns.globalObservationCounter + 1 %}
        {% endfor %}
    {% endfor %}
{% endfor %}


############################# Results of Observations ######################################

{% set ns = namespace(globalResultCounter=0) %}
{% for sample in resistances %}
    {% set sampleId = loop.index0 %}
    {% for observationSet in sample %}
        {% set observationSetId = loop.index0 %}
        {% for observationValue in observationSet %} 
            <r{{ ns.globalResultCounter }}> rdf:type sosa:Result ; 
                {% if observationValue|isType == "float" %}
                    sosa:hasSimpleResult "{{ observationValue }}"^^xsd:decimal ;
                {% else %}
                    sosa:hasSimpleResult "{{ observationValue }}" ;
                {% endif %}
                {% if samples[sampleId][0]["values"][3]|isDatetime %}
                    sosa:hasUnit "{{ resistanceHeader[observationSetId] }}" ; # in unit ontology ? 
                    sosa:resultTime "{{ samples[sampleId][0]["values"][3] }}T00:00:00Z"^^xsd:dateTime .
                {% else %}
                    sosa:hasUnit "{{ resistanceHeader[observationSetId] }}" . # in unit ontology ? 
                {% endif %}
            {% set ns.globalResultCounter = ns.globalResultCounter + 1 %}
        {% endfor %}
    {% endfor %}
{% endfor %}

