
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

.search-section {
    margin: 4rem auto;
    width: 600px;
    font-family: "roboto"; 
}

.search-section h1 {
    text-align: center;
    font-size: 2rem;
    color: #1e293b;
}

.search-section input {
    width: 100%;
}
